include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

include ../components/slider-main/slider-main
include ../components/form-subscribe/form-subscribe

+doctype(pages.index.title)
  .-wrapper
    +header(false, [pages.index.url])
    +content
      .__inner
        .container-fluid
          +slider-main()(data-slick='{"autoplaySpeed": 7000}')

          section.-section._1
            header.__header
              h2.__title Новые рецепты
              .__header-bottom
                span.__header-line
                +a(pages.recipes.url).__header-link Все новые рецепты

            .-articles-list
              article.-article-item
                +a(pages.kartofel_po_retseptu_a_s_pushkina.url).__img
                  img.__img-inner(src='static/img/content/recipes/370x260/maxresdefault.jpg'
                  srcset='static/img/content/recipes/370x260/maxresdefault.jpg 1x, static/img/content/recipes/740x520/maxresdefault.jpg 1.25x'
                  alt='' title='')
                +time().__date 01.06.2017
                h3.__title: +a(pages.kartofel_po_retseptu_a_s_pushkina.url).__title-link=pages.kartofel_po_retseptu_a_s_pushkina.title
                .__content
                  p.
                    Наверняка вы и не догадываетесь, что Александр Пушкин известен не только своими великими произведениями,
                    но и собственным рецептом блюда, которое вы, без сомнения, пробовали. В среде поваров существует даже история об этом.
                    Однажды поэт загостился в доме у Вульфов и вернулся в свое имение «Михайловское» поздней ночью.
                    Проголодавшись после долгой дороги, поэт решил не беспокоить своих домашних, а приготовить ужин самостоятельно.

              article.-article-item
                +a(pages.kuritsa_po_gruzinski.url).__img
                  img.__img-inner(src='static/img/content/recipes/370x260/maxresdefault-(1).jpg'
                  srcset='static/img/content/recipes/370x260/maxresdefault-(1).jpg 1x, static/img/content/recipes/740x520/maxresdefault-(1).jpg 1.25x'
                  alt='' title='')
                +time().__date 01.06.2017
                h3.__title: +a(pages.kuritsa_po_gruzinski.url).__title-link=pages.kuritsa_po_gruzinski.title
                .__content
                  p.
                    Пробовали ли вы мясо курицы в ягодном соусе?
                    А, между прочим, курица в ежевичном соусе — это традиционно блюдо грузинской кухни.
                    Говорят, если хозяйка желает поразить гостей, то она должна приготовить курицу с ежевикой.
                    Хотя это блюдо и принято подавать холодным, без гарнира, каждый знает, что на грузинском столе закуски есть всегда —
                    это лаваш, овощи, зелень, домашний сыр. Некоторые гурманы подают курицу с нарезанными тонкими ломтиками папайю или теплый рис.

              article.-article-item
                +a(pages.indiyskiy_syir.url).__img
                  img.__img-inner(src='static/img/content/recipes/370x260/Панир.jpg'
                  srcset='static/img/content/recipes/370x260/Панир.jpg 1x, static/img/content/recipes/740x520/Панир.jpg 1.25x'
                  alt='' title='')
                +time().__date 01.06.2017
                h3.__title: +a(pages.indiyskiy_syir.url).__title-link=pages.indiyskiy_syir.title
                .__content
                  p.
                    Чарующая и удивительная Индия... Огромная страна, вмещающая в себе множество традиций, культур и народностей.
                    Все это разнообразие, конечно, повлияло и на кухню страны. Считается, что единой традиционной индийской кухни нет,
                    потому что в каждом штате она разная.


          .-grid._1
            .__col._1
              section.-section._1
                header.__header
                  h2.__title Полезные советы
                  .__header-bottom
                    span.__header-line
                    +a(pages.advices.url).__header-link Все полезные советы

                .-articles-list-2
                  article.-article-item-2
                    +a().__img
                      img.__img-inner(src='static/img/content/advices/370x225/okroshka.jpg'
                      srcset='static/img/content/advices/370x225/okroshka.jpg 1x, static/img/content/advices/740x450/okroshka.jpg 1.25x'
                      alt='' title='')
                    .overflow-hidden
                      +time().-article-item-2.__date 01.06.2017
                      h3.-article-item-2.__title: +a().__title-link Окрошка
                      .-article-item-2.__content
                        p.
                          Впереди жаркое лето, а это значит, что теперь даже во время обеда захочется не только подкрепиться,
                          но и одновременно освежиться. И здесь как нельзя кстати вспоминается окрошка — суп, который подается холодным.
                          Но особенно интересно то, что у каждой хозяйки рецепт окрошки свой. И это не удивительно,
                          ведь даже на Руси не было одного рецепта, хозяйки добавляли в блюдо как квас, так и кисломолочную заправку и даже рассол!

                  article.-article-item-2
                    +a().__img
                      img.__img-inner(src='static/img/content/advices/370x225/Космополитен1(1).jpg'
                      srcset='static/img/content/advices/370x225/Космополитен1(1).jpg 1x, static/img/content/advices/740x450/Космополитен1(1).jpg 1.25x'
                      alt='' title='')
                    .overflow-hidden
                      +time().-article-item-2.__date 01.06.2017
                      h3.-article-item-2.__title: +a().__title-link Коктейль «Маргарита»
                      .-article-item-2.__content
                        p.
                          Пожалуй, это один из самых известных коктейлей, который несомненно ассоциируется с роскошными
                          аристократическими вечеринками или посиделками с подругами за интересными беседами в самых модных барах.
                          Появился коктейль в латинской Америке в первой половине 20 века, несмотря на огромное количество версией
                          его происхождения, но одно в них остается неизменным — образ Маргариты.
            .__col._2
              +form-subscribe()
    +footer